/* Author: Kuligina Anastasiya */
/* Basic */
html {
  font-size: 10px;
}
body {
  color: #000;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
iframe {
  border: none;
}
p {
  font-size: 1.4rem;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
/* Header -------------------------------*/
#header {
	min-height: 50rem;
	background: #EFF0F2;
}
.logo-img {
	padding-top: 4.6rem;
}
.menu-box {
	padding-top: 5rem;
	float: right;
}
.munu-button {
	width: 1.8rem;
}
.main-text {
	padding-top: 19.8rem;
	padding-bottom: 9rem;
}
h1 {
	font-family: 'Montserrat Bold', arial;
	font-size: 45px;
	text-transform: uppercase;
	color: #505050;
	text-align: center;
	line-height: 1.2;
}
h1>span {
	padding: 0.4rem;
	background: #B2F2EE;
}
.contact-button {
	padding: 1.2rem 2.2rem 1.2rem 2.2rem;
	border: 2px solid #777879;
	font-family: 'Montserrat', arial;
	color: #3C3C3D;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	display: block;
	width: 19rem;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 12rem;
	text-decoration: none;
}
.contact-button:hover {
	background-color: #B2F2EE;
	text-decoration: none;
}
/* About -------------------------------*/
#about {
	text-align: center;
	min-height: 61rem;
	background: #F8FAFA;
}
#about h2 {
	font-family: 'Montserrat Bold', arial;
	font-size: 38px;
	text-transform: uppercase;
	color: #323333;
	padding-top: 8.3rem;
}
.about-text {
	font-family: 'Montserrat', arial;
	text-transform: uppercase;
	font-size: 18px;
	color: #999A9A;
}
.amazing-works {
	min-width: 30rem;
	padding-bottom: 10rem;
}
.amazing-works h3{
	text-transform: uppercase;
	color: #3E3F3F;
	font-size: 20px;
	font-family: 'Montserrat', arial;
	font-weight: 500;
	padding-top: 9.8rem;
	text-align: left;
	padding-bottom: 2rem;
}
.amazing-works p {
	text-align: left;
	font-size: 14px;
	color: #777878;
	line-height: 2;
	padding-bottom: 3rem;
}
.plush3 {
	text-transform: uppercase;
	color: #3E3F3F;
	font-size: 20px;
	font-family: 'Montserrat', arial;
	font-weight: 500;
	text-align: left;
	padding-bottom: 2rem;
	padding-top: 0rem !important;
}
.mySlider {
	width: 415px;
    padding-top: 9.5rem;
    height: 58.8rem;
    margin: 0 auto;
}
.mySlider:before {
	content: "";
    width: 480px;
    height: 416px;
    position: absolute;
    top: 23%;
    left: -8%;
    background: #EFF0F2;
}
.slick-prev, .slick-next  {
	display: none !important;
}
/* Works -------------------------------*/
#works {
	text-align: center;
	min-height: 73rem;
}
#works h2 {
	font-family: 'Montserrat Bold', arial;
	font-size: 38px;
	text-transform: uppercase;
	color: #323333;
	padding-top: 8.3rem;
}
.portfolio-box {
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.img-works img {
	width: 370px;
	height: 360px;
	padding-bottom: 2rem;
}
.portfolio-box a img {
 -moz-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
}
.portfolio-box a img:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* Services -------------------------------*/
#services {
	text-align: center;
	background: #F9FBFB;
	min-height: 101rem;
}
#services h2 {
	font-family: 'Montserrat Bold', arial;
	font-size: 38px;
	text-transform: uppercase;
	color: #323333;
	padding-top: 8.3rem;
}
.services-box {
	padding-top: 7.6rem;
	padding-bottom: 10rem;
}
.services-box img {
	padding-bottom: 1.8rem;
}
.img-services>a>img {
	max-height: 424px;
}
.img1 {
	width: 47.7rem;
    height: 32.4rem;
    background: url(../img/services/1.png) no-repeat center;
    background-size: cover;
}
.img2 {
	height: 32.5rem;
	background: url(../img/services/2.png) no-repeat center;
	background-size: cover;
}
.boxes-img {
	margin-bottom: 1.5rem;
	position: relative;
}
.boxes-img span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	    color: #D8D8D8;
}
.boxes-img span:hover {
	background-color: #71F6EB;
	color: #000;
	transition-duration: .5s;
}
.boxes-img h4 {
    padding: 0;
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 16rem;
    left: 5rem;
    text-transform: uppercase;
    font-weight: 700;
}
.boxes-img p {
    width: 396px;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: left;
    position: absolute;
    top: 23rem;
    left: 5rem;
    font-size: 14px;
}
.p-min-width {
	width: 313px !important;
}
.boxes-img a {
	height: 20rem;
	width: 20rem;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: blue;
    text-align: left;
}
.img3 {
	width: 47.7rem;
    height: 35.4rem;
    background: url(../img/services/3.png) no-repeat center;
    background-size: cover;
}
.img4 {
	width: 32.9rem;
    height: 35.4rem;
    background: url(../img/services/4.png) no-repeat center;
    background-size: cover;
}
.img5 {
    width: 34rem;
    height: 35.3rem;
    background: url(../img/services/5.png) no-repeat center;
    background-size: cover;
}
.img6 {
	width: 47.01rem;
    height: 35.3rem;
    background: url(../img/services/6.png) no-repeat center;
    background-size: cover;
}
/* Team -------------------------------*/
#team {
	text-align: center;
	min-height: 82rem;
}
#team h2 {
	font-family: 'Montserrat Bold', arial;
	font-size: 38px;
	text-transform: uppercase;
	color: #323333;
	padding-top: 8.3rem;
}
.team-img {
	padding-top: 8rem;
}
#team img {
	height: 440px;
	width: 371px;
	padding-bottom: 2rem;
}
/* Footer -------------------------------*/
#footer {
	min-height: 100%;
    background: url(../img/footer-bg.png) no-repeat center;
    width: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.message-form {
	background: #485862;
    width: 50%;
    margin: 0 auto;
    min-height: 26rem;
    opacity: 0.9;
    margin-top: 10rem;
    margin-bottom: 10rem;
}
form {
	background: #485862;
}
form input, textarea {
	float: left;
	width: 94%;
	margin-left: 1.7rem;
	margin-top: 2rem;
	background: #485862;
	border: none;
	border-bottom: 1px solid #62747E;
	color: #62747E;
}
.submit-btn {
	top: 67.5%;
    left: 27.1%;
    position: absolute;
    background: #6eeee4;
    padding: 1.1rem 1rem 1rem 1rem;
    color: #214744;
    width: 13rem;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}
.submit-btn:hover {
	background: #5A6972;
	color: #fff;
}
input:hover {
	border: none;
}
.address-box {
	background: #485862;
	width: 28rem;
	min-height: 26rem;
	float: left;
	opacity: 8;
	margin-top: 10rem;
}
.footer-box {
	background: #262B2E;
	text-align: center;
	color: #66696B;
}
.footer-box>.follow-p {
	padding-top: 95px;
	text-transform: uppercase;
}
.social-box {
	padding-top: 10px;
}
.social-box a {
	color: #BBB8B9;
	background: #424648;
	padding: 10px 15px 10px 15px;
}
.social-box a:hover {
	color: #000;
	background: #71f6eb;
}
.footer-box>.copyright {
	padding-top: 42px;
	padding-bottom: 80px;
	margin: 0;
}

/* Media -------------------------------*/
@media (max-width: 480px) {
  .mySlider {
  	padding-top: 4.5rem;
  	height: 100%;
  }
  #about h2 {
  	padding-top: 0;
  }
  .amazing-works {
  	padding-bottom: 0;
  }
  .amazing-works h3 {
  	padding-top: 4.5rem;
  	text-align: center;
  }
   .amazing-works p {
  	text-align: center;
  	font-size: 16px;
  }
  .mySlider:before {
  	top: 19%
  }
  #works h2 {
  	padding-top: 0;
  }
  .portfolio-box {
  	padding-top: 5rem;
  	padding-bottom: 0;
  }
  #services h2 {
  	padding-top: 0;
  }
  .services-box {
  	padding-top: 5rem;
  	padding-bottom: 0;
  }
  .img1, .img3, .img4, .img5, .img6 {
  	width: 100%;
  }
  #team h2 {
  	padding-top: 0;
  }
  .team-img {
  	padding-top: 5rem;
  }
  form input, textarea {
  	width: 90%;
  }
  .submit-btn {
  	top: 79.5%;
  	left: 17.5%;
  }
  .menu-box {
  	padding-top: 6rem;
  } 
  .message-form {
  	width: 80%;
  }
  h1 {
  	font-size: 40px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  html {
    font-size: 12px;
  }
  .mySlider {
  	padding-top: 4.5rem;
  	height: 100%;
  }
  #about h2 {
  	padding-top: 0;
  }
  .amazing-works {
  	padding-bottom: 0;
  }
  .amazing-works h3 {
  	padding-top: 4.5rem;
  	text-align: center;
  }
   .amazing-works p {
  	text-align: center;
  	font-size: 16px;
  }
  .mySlider:before {
  	top: 19%
  }
  #works h2 {
  	padding-top: 0;
  }
  .portfolio-box {
  	padding-top: 5rem;
  	padding-bottom: 0;
  }
  #services h2 {
  	padding-top: 0;
  }
  .services-box {
  	padding-top: 5rem;
  	padding-bottom: 0;
  }
  .img1, .img3, .img4, .img5, .img6 {
  	width: 100%;
  }
  #team h2 {
  	padding-top: 0;
  }
  .team-img {
  	padding-top: 5rem;
  }
  form input, textarea {
  	width: 90%;
  }
  .submit-btn {
  	left: 29.1%;
  }
  .menu-box {
  	padding-top: 6rem;
  }  
}
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 14px;
  }  
  .mySlider {
  	padding-top: 4.5rem;
  	height: 100%;
  }
  #about h2 {
  	padding-top: 0;
  }
  .amazing-works {
  	padding-bottom: 0;
  }
  .amazing-works h3 {
  	padding-top: 4.5rem;
  	text-align: center;
  }
   .amazing-works p {
  	text-align: center;
  	font-size: 16px;
  }
  .mySlider:before {
  	top: 19%
  }
  #works h2 {
  	padding-top: 0;
  }
  .portfolio-box {
  	padding-top: 5rem;
  	padding-bottom: 0;
  }
  #services h2 {
  	padding-top: 0;
  }
  .services-box {
  	padding-top: 5rem;
  	padding-bottom: 0;
  }
  .img1, .img3, .img4, .img5, .img6 {
  	width: 100%;
  }
  #team h2 {
  	padding-top: 0;
  }
  .team-img {
  	padding-top: 5rem;
  }
  form input, textarea {
  	width: 90%;
  }
  .submit-btn {
  	left: 29.1%;
  }
  .menu-box {
  	padding-top: 6rem;
  }

}
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 12px;
  } 
	.img-works img {
    	width: 300px;
    	height: 300px;
    	padding-bottom: 2rem;
	}
	.img1,  .img3 {
		width: 45.4rem;
	}
	.img4 {
		width: 31.2rem;
	}
	.img5 {
		width: 32rem
	}
	.img6 {
		width: 45.01rem;
	}
	#team img {
		height: 400px;
    	width: 300px;
	}


}
@media (min-width: 1200px) {
  html {
    font-size: 14px;
  }   
}